# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Windows Intellisense Database and 
# Solution User Datafile
*.sdf
*.opensdf
*.suo
*.opendb
*.ipch
*.tlog
*.lastbuildstate
*.pdb
*.log
*.db

# CUDA Dependency
*.deps

# Binaries
Bin/

# Working Dir Except Some Other
WorkingDir/*
!WorkingDir/**/*.qrc

# Keep Provided Libraries
!Lib/**/*.out
!Lib/**/*.exe
!Lib/**/*.lai
!Lib/**/*.la
!Lib/**/*.a
!Lib/**/*.lib
!Lib/**/*.pdb
!Lib/**/*.so
!Lib/**/*.dvlib
!Lib/**/*.dll
!Lib/**/*.pch
