# Compiled Object files
*.slo
*.lo
*.o
*.obj

# DebugDatabase (Windows)
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Windows Intellisense Database and 
# Solution User Datafile
*.sdf
*.opensdf
*.suo

# Binaries
Bin/

# Working Dir Except Shaders
WorkingDir/
!WorkingDir/Shaders/*.*

# Keep Provided Libraries
!Lib/**/*.lai
!Lib/**/*.la
!Lib/**/*.a
!Lib/**/*.lib
!Lib/**/*.pdb
!Lib/**/*.so
!Lib/**/*.dvlib
!Lib/**/*.dll
!Lib/**/*.pch

# Latex Thesis Output Files
ThesisMsc/**/*.pdf
ThesisMsc/**/*.log
ThesisMsc/**/*.aux
ThesisMsc/**/*.lof
ThesisMsc/**/*.lot
ThesisMsc/**/*.toc
ThesisMsc/**/*.gz
